[Unit]
Description=relembra HTTP daemon
# No limits on restarting
StartLimitInterval=0

[Service]
ExecStart=/usr/local/bin/clojure -J-Xms512m -J-Xmx900m -A:prod:cider-nrepl -e '(go)'
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
# Wait one second before restarting
RestartSec=1
User=relembra
WorkingDirectory=/home/relembra/relembra
LimitNOFILE=1024768

#Environment="KEY=VAL"

[Install]
WantedBy=multi-user.target